@{
    ViewData["Title"] = "Home Page";
}
<!--DELETE THIS VIEW AFTER FINISHING OTHER TASKS-->
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <label>Welcome Page!</label>  
    <h3>This page opens after Login page</h3>
</div>